:root {
    --background-color: #363636;
    --primary-color: #0055AA;
    --secondary-color: #ffcc00;
    --alert-bg-color: #cccccc;
    --text-color: white;
    --border-color: #363636;
    --box-shadow-color: black;
}

/* General Styles */
body, a {
    background-color: var(--background-color);
    text-decoration: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal; /* Ensure normal (non-italic) style */
}


#gameboardContainer h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    text-align: center;
    font-style: normal; /* Ensure normal (non-italic) style */
}

.card {
    height: 100%;
}

.bingo-tile, .bingo-tile-free, .bingo-header .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust this value as needed */
}

.bingo-header .card {
    background-color: transparent !important;
    border: none !important;
}

.bingo-header .card-body {
    color: var(--text-color) !important;
    font-weight: bold !important;
    align-items: flex-end !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%; /* Ensure the card body takes up the full height of the card */
}

.bingo-tile {
    position: relative;
    height: 150px; /* 1:1 Aspect Ratio */
    background-color: #eee; /* Initial background color */
    cursor: pointer; /* Indicate that the tile is clickable */
}

.bingo-tile .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bingo-tile .circle {
    position: absolute;
    width: 70%; /* Adjust size as needed */
    height: 70%; /* Adjust size as needed */
    background-color: pink;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none; /* Ensure the circle does not interfere with click events */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom Alert */
.custom-alert {
    background-color: var(--alert-bg-color); /* Custom background color */
    color: var(--border-color); /* Custom text color */
    border-color: var(--border-color); /* Custom border color */
}

/* Game Title */
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}


/* Base styles */
.peek-image {
    position: absolute;
    top: 30%; /* Move the image higher */
    left: 50%;
    z-index: -1; /* Ensure it is behind the alert */
    max-height: 60vh; /* Make the image 60% of the screen height */
    transform: translate(-50%, -50%); /* Center */
    width: auto; /* Maintain aspect ratio */
}

/* Media query for md and larger screens */
@media (min-width: 768px) {
    .peek-image {
        left: 50%; /* Center the image horizontally */
        top: 20%; /* Adjust the vertical position as needed */
    }
}

/* Ensure the image hides correctly */
.peek-image[style*="display: none"] {
    display: none !important;
}


/* Navbar */

body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    --bs-navbar-padding-y: 0;
    padding: 0 1rem;
  }
  
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #929292; /* Set the background color of the hamburger button */
  }
  
  .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
  
